*.zip

venv
.env

*.py[co]
__pycache__
*.egg-info
.tox
.DS_Store

# IDE
*.code-workspace

# jupyter
.ipynb_checkpoints

reembolso-*/
*.xz

ambientevirtual1
v
Ano-2019.csv.zip
reembolso-2019
semana_4/teste.py
reembolso-2019-completo.csv
semana_4/desafio1.ipynb